html{
    height: 100%;
}

body {
    height: 100%;
    font-family: Tahoma, sans-serif;
    margin: 0;
}

.wrapperLogin {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    /*min-height: 100%;*/
	/*height: auto !important;*/
	height: 650px;
    width: 100%;
	margin-top: 0px;
    overflow: auto;
}

header {
    padding: 40px;
    /*height: 120px;*/
    background-color: #EEEAE8;
}

header h1 {
    margin-left: 60px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    clear: both;
    margin-top: 26.8px;
}

.menu {
    text-align: center;
    padding: 0;
    width: 452px;
    float: right;
    clear: both;
    margin-right: 60px;
    margin-top: 26.8px;
}

.menu > a {
    width: 150px;
    padding: 15px 0px;
    margin: 0px 0px;
    text-decoration: none;
    color: #FBFBFB;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 1px solid black;
    float: left;
    background-color: #BD6822;
}

.menu > a:first-child {
    border-left: none;
}

.menu > a:hover {
    background-color: #55504C;
    transition: background-color 0.7s ease;
    color: #BD6822;
}

.menu > a:active {
    background-color: #2F2D2C;
}

.inline {
    display: inline;
}

.courtesyNav {
    float: right;
    margin-right: 60px;
}

.courtesyNavItem {
    padding: 0 10px;
}


.pageTitle {
    text-align: center;
    margin: 0 0 50px 0;
}

/*Tabbar: */

.add {
    padding: 20px;
    background-color: white;
}

ul#tabs { 
    list-style-type: none; 
    margin: 100px 100px 0 100px; 
    padding: 0 0 0.6em 0; 
}

ul#tabs li { 
    display: inline; 
}

ul#tabs li a { 
    color: #42454a; 
    background-color: #dedbde; 
    border: 1px solid #c9c3ba; 
    border-bottom: none; 
    padding: 0.6em; 
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
}

ul#tabs li a:hover { 
    background-color: #f1f0ee; 
}

ul#tabs li a.selected { 
    color: #000; 
    background-color: #898684; 
    font-weight: bold; 
    padding: 0.7em 0.3em 0.78em 0.3em; 
}

div.tabContent { 
    padding: 1em; 
    background-color: #898684; 
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100%;
}

div.tabContent.hide { 
    display: none; 
}

/* ______________________ */

::-webkit-input-placeholder {
   color: lightgray; text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: lightgray; text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: lightgray; text-align: center;
}
:-ms-input-placeholder {  
   color: lightgray; text-align: center;
}

footer {
    color: #000;
    height: 100px;
    text-align: center;
    line-height: 5;
    background: #EEEAE8;
}

#logIn{
    width: 30%;
    color: #000;
    margin: 147.5px auto 0 auto;
    padding: 50px 20px;
    background-color: rgba(137, 134, 132, 0.5);*/
    box-shadow: 0px 10px 14px -7px #000;
    border-radius: 10px;
}

form h2{
    color: #fff;
    text-align: center;
    margin-top: 10px;
} 

#email, #password{
    background: #FFF9F6;
    color: #000;
    height: 30px;
    width: 75%;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

#logIn input, label {
    display: block;
    margin: 25px auto;
}

/* För att input-fält med autofill-uppgifter ska vara vitt och inte gult i Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
}

/* _____________ */

.content2 {
    background-color: #C0B4AD; 
    width: 100%;
    padding: 50px 0px;
}

#wrapContent {
    width: 900px;
    margin: auto;
}

.contentInContent {
    width: 347px;
    display: inline-block;
    padding: 50px;
    text-align: center;
}

.roundBox {
    background: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 300px;
    color: white;
}

#back-button {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #191919;
}

 /* Design för knappar */
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #000;
    padding:13px 32px;
	text-decoration:none;
    font-size:16px;
	font-weight:bold;
    background: linear-gradient(to bottom, #2F4D59 5%, #326072 100%);
	background:-moz-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-webkit-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-o-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-ms-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background-color:#599bb3;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
    color: #C0C0C0;
    border: 0px;
    text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
    background:linear-gradient(to bottom, #2B3D44 5%, #537785 100%);
	background:-moz-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-webkit-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-o-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-ms-linear-gradient(top, #2B3D44 5%, #537785 100%);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton:focus {
    outline:0;
}

@media screen and (max-width:1300px){
    #logIn {
        width: 40%;
    }
}

@media screen and (max-width:960px){
    
    .menu {
        width: 302px;
    }
    
    .menu a {
        width: 100px;
        font-size: 80%;
    }
    
    #wrapContent {
    width: 667px;
    margin: auto;
    }
    
    .contentInContent {
        width: 231px;
        display: inline-block;
        padding: 50px;
        text-align: center;
    }
    
    .roundBox {
        background: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: auto;
        text-align: center;
        line-height: 200px;
        color: white;
    }
    
    .roundBox h2 {
        font-size: ;
    }
    
}

@media screen and (max-width:600px){
    #logIn{
        width: 80%;
    }
    header nav{
        display: block;
        margin: 20px auto;
        float: none;
        width: 100%;
        display: flex;
    }
   header nav a{
        float: none;
        margin: 0px auto;
        display: inline-flex;
        width: 20%;
        text-align: center;
    }
    header h1{
        text-align: center;
        display: block;
        float: none;
        margin: 20px auto;
        width: 100%;
    }
    #logIn input{
        margin: 15px auto;
    }
    footer{
        margin-top: 69.1%;
    }
}
