html{
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    font-family: Tahoma, sans-serif;
    margin: 0;
}

.wrapperLogin {
    background-image: url(../img/qwback.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

header {
    padding: 40px;
    height: 50px;
}

.options{
    background-color: #51120F;
    color: #fff;
    padding: 3%;
    border-style: solid; border-width: ;
    border-radius: 5px; border-color: #ccc #999 #999 #ccc;
    border: solid 5px #3B1715;
    border-width: thin;
    border-radius: 5px;
    /*border-color: #ccc #999 #999 #ccc;*/
    text-decoration: none;
    box-shadow: 0px 5px 7px -2px #000;
}

.menu {
    background-color: navy;
}

.menuButton {
    
}

#content {
    margin:60px auto;
    position: relative;
}

::-webkit-input-placeholder {
   color: white; text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: white; text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white; text-align: center;
}
:-ms-input-placeholder {  
   color: white; text-align: center;
}

footer {
    color: #777;
    height: 100px;
    text-align: center;
    line-height: 5;
    background: rgba(0,0,0,0.8);
}

/**
#content > img {
    position: relative;
}

#slogan {
    position: absolute;
    top: 200px;
    left: 230px;
    font-size: 55px;
    color: black;
}
**/
/* Styling för formuläret 
#logIn {
    width: 25%;
    border: 1px solid black;
    background-color: #242729;
    color: #b9bdc1;
    padding: 40px;
    font-family: tahoma;
    position: absolute;
    top: 200px;
    right: 230px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
*/

#logIn{
    width: 25%;
    color: #000;
    margin: auto;
    background-color: gray;
    padding: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* För IE8 och tidigare versioner */
    border-radius: 10px;
    box-shadow: 0px 10px 14px -7px #000;
}

form h2{
    color: #fff;
    text-align: center;
    margin-top: 10px;
} 

#username, #password{
    background: rgba(255,255,255,0.5);
    color: #000;
    height: 30px;
    width: 300px;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

#logIn input, label {
    display: block;
    margin: 25px auto;
}

/* För att input-fält med autofill-uppgifter ska vara vitt och inte gult i Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* _____________ */

header h1 {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 40px;
}

.loginNav {
    width: 320px;
    float: right;
}

.loginNav > a {
    padding-left: 15px;
}

#back-button {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #999

 /* Design för knappar */
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #000;
    padding:13px 32px;
	text-decoration:none;
    font-size:16px;
	font-weight:bold;
    background: linear-gradient(to bottom, #2F4D59 5%, #326072 100%);
	background:-moz-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-webkit-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-o-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-ms-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background-color:#599bb3;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
    color: white;
    border: 0px;
    text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
    background:linear-gradient(to bottom, #2B3D44 5%, #537785 100%);
	background:-moz-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-webkit-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-o-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-ms-linear-gradient(top, #2B3D44 5%, #537785 100%);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton:focus {
    outline:0;
>>>>>>> origin/master
}

@media screen and (max-width:600px){
    #logIn{
        width: 80%;
    }
    header nav{
        display: block;
        margin: 20px auto;
        float: none;
        width: 100%;
        display: flex;
    }
   header nav a{
        float: none;
        margin: 0px auto;
        display: inline-flex;
        width: 20%;
        text-align: center;
    }
    header h1{
        text-align: center;
        display: block;
        float: none;
        margin: 20px auto;
        width: 100%;
    }
    #logIn input{
        margin: 15px auto;
    }
    footer{
        margin-top: 69.1%;
    }
}

/* Sticky footer av Ryan Fait */

* {
	margin: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.push {
	height: 100px; /* .push must be the same height as footer */
}
