html{
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', 'Tahoma', sans-serif;
    margin: 0;
}

.wrapperLogin {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    /*min-height: 100%;*/
	/*height: auto !important;*/
	height: 650px;
    width: 100%;
	margin-top: 0px;
    overflow: auto;
}

header {
    padding: 40px;
    /*height: 120px;*/
    background-color: #EEEAE8;
}

header h1 {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    clear: both;
    margin-top: 26.8px;
}

.menu {
    text-align: center;
    padding: 0;
    width: 40%;
    float: right;
    clear: both;
    margin-top: 26.8px;
}

.menu > a {
    width: 33%;
    padding: 15px 0px;
    margin: 0px 0px;
    text-decoration: none;
    color: #FBFBFB;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 1px solid black;
    float: left;
    background-color: #E87E04;
}

#employerMenu > a {
    width: 24%;
}

.menu > a:first-child {
    border-left: none;
}

.menu > a:hover {
    background-color: #5B514A;
    transition: background-color 0.7s ease;
    color: #BD6822;
}

.menu > a:active {
    background-color: #2F2D2C;
}

.menu > .currentMenuItem {
    background-color: #42403E;
    color: #BD6822;
}

.courtesyNav {
    float: right;
}

.courtesyNavItem {
    margin: 0;
    margin-top: -20px;
}


.pageTitle {
    text-align: center;
    margin: 50px auto;
    padding-bottom: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 2px solid #E9E9E9;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

/*Tabbar: */

.add {
    padding: 25px 20px 25px 50px;
    margin: 20px auto 0 auto;
    background-color: white;
    cursor: pointer;
    border: 3px solid rgba(102, 185, 191, 1);
}

.add:hover {
    border-left: 5px solid #66B9BF;
    border-right: 5px solid #66B9BF;
}

.add h2 {
    margin-top: 0;
}

.add h4 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.add p {
    margin-top: 2px;
    margin-bottom: 10px;
}

.add form {
    margin-top: 15px;
}

ul#tabs {
    list-style-type: none;
    margin: 60px auto;
    padding: 0 0 0.6em 0;
    width: 660px;
}

ul#tabs li {
    display: inline;
}

ul#tabs li a {
    color: #42454a;
    background-color: #E9E9E9;
    border: 2px solid rgba(102, 185, 191, 0.9);
    /*border-bottom: none; */
    padding: 0.6em 1em;
    text-decoration: none;
    border-radius: 20px;
    -moz-box-shadow: 0px 5px 7px -3.5px #276873;
	-webkit-box-shadow: 0px 5px 7px -3.5px #276873;
	box-shadow: 0px 5px 7px -3.5px #000;
}

ul#tabs li a:hover {
    background-color: #f1f0ee;
}

ul#tabs li a.selected {
    color: #000;
    background-color: rgba(102, 185, 191, 0.9);
    font-weight: bold;
    padding: 0.8em 1em 0.78em 1em;
    border: none;
}

div.tabContent {
    padding: 20px;
    background-color: #3E4244;
    margin: 0;
    min-height: 80%;
    border-bottom: 5px solid #595E61;
    border-top: 5px solid #595E61;
}

div.tabContent.hide {
    display: none;
}


/* Annonser visa/dölja: */

.showMore {
    display: none;
}

/* Allmänna klasser (för att centrera, göra fetstil text, osv) */

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}

.inline_block {
    display: inline-block;
}

/* ______________________ */

.column2 { /* En extra kolumn i uppdrag */
    margin-left: 50px;
}

#error { /* Felmeddelande vid inloggning */
    width: 400px;
    /*background-color: rgba(163, 34, 34, 0.4);
    padding: 25px;
    border-radius: 6px;*/
    margin: 20px auto;
    text-align: center;
}

::-webkit-input-placeholder {
   color: lightgray; text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: lightgray; text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: lightgray; text-align: center;
}
:-ms-input-placeholder {
   color: lightgray; text-align: center;
}

footer {
    color: #000;
    height: 100px;
    text-align: center;
    line-height: 5;
    background: #EEEAE8;
}

#logIn{
    width: 40%;
    color: #000;
    margin: 147.5px auto 0 auto;
    padding: 50px 20px;
    background-color: rgba(137, 134, 132, 0.5);*/
    box-shadow: 0px 10px 14px -7px #000;
    border-radius: 10px;
}

form h2{
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

#email, #password{
    background: #FFF9F6;
    color: #000;
    height: 30px;
    width: 75%;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

#logIn input, label {
    display: block;
    margin: 25px auto;
}

/* För att input-fält med autofill-uppgifter ska vara vitt och inte gult i Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
}

/* _____________ */

.content2 {
    background-color: #5C5E60 /*#3E4244/*#C0B4AD*/;
    width: 100%;
    padding: 10px 0px;
    border-top: 5px solid #9B938E;
    border-bottom: 5px solid #9B938E;
}

#wrapContent {
    width: 900px;
    margin: auto;
}

.contentInContent {
    width: 347px;
    display: inline-block;
    padding: 50px;
    text-align: center;
}

.roundBox {
    background: #59ABE3;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    text-align: center;
    line-height: 300px;
    color: white;
}

.contentInContent:first-child > .roundBox {
    background: #E87E04; /* Gör studentens roundBox orange*/
}

.contentInContent p {
    color: #fff;
}

 /* Design för knappar */
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #000;
    padding:13px 32px;
	text-decoration:none;
    font-size:16px;
	font-weight:bold;
    background: linear-gradient(to bottom, #2F4D59 5%, #326072 100%);
	background:-moz-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-webkit-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-o-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background:-ms-linear-gradient(top, #2F4D59 5%, #326072 100%);
	background-color:#599bb3;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
    color: #C0C0C0;
    border: 0px;
    text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
    background:linear-gradient(to bottom, #2B3D44 5%, #537785 100%);
	background:-moz-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-webkit-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-o-linear-gradient(top, #2B3D44 5%, #537785 100%);
	background:-ms-linear-gradient(top, #2B3D44 5%, #537785 100%);
}

.myButton:active {
    position: relative;
    top: 1px;
}
.myButton:focus {
    outline:0;
}


/* --- Employers start.tpl --- */
#employer_how_it_works{
    display: none;
    border-bottom: 2px solid #BFBFBF;
    padding: 15px 0px;
}

#employer_how_it_works > h2, #employer_how_it_works > div{
    margin-left: 10px;
}

#toggle_how_it_works p{
    text-align: center;
    color: #BFBFBF;
    margin: 20px 0px;
}

#toggle_how_it_works:hover{
    cursor: pointer;
}

.employers_add_new_ad .btn{
    background-color: #E87E04;
    color: #fff;
    margin: 0 auto;
    display: block;
    max-width: 90%;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
}

.employers_add_new_ad .btn:hover{
    background-color: #5B514A;
    transition: background-color 0.7s ease;
    color: #BD6822;
}

.emloyers_all_adds{
    background-color: #3E4244;
    margin-top: 40px;
    padding-bottom: 20px;
}

.emloyers_all_adds a{
    color: black;
}

.emloyers_all_adds h2{
    color: #fff;
    width: 90%;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
}

.emloyers_all_adds ul{
    padding-left: 0px;
}

.emloyers_all_adds li{
    list-style-type: none;
    background-color: #fff;
    border: 4px solid rgba(102, 185, 191, 1);
    width: 90%;
    margin: 10px auto;
    height: 70px;
}

.emloyers_all_adds li > div:first-child{
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
}
.emloyers_all_adds h3, p{
    margin: 0px;
}

.emloyers_all_adds li > div:last-child{
    float: right;
    height: 70px;
    background-color: rgba(102, 185, 191, 1);
    line-height: 70px;
    width: 40px;
    text-align: center;
    color: #fff;
}
/* --- Employers start.tpl || END --- */

/* --- Student profile.tpl --- */

#profiles ul{
	padding-left: 0px;
}
#profiles li{
	list-style-type: none;
}

#profiles .top{
    width: 100%;
    height: 350px;
    background-image: url('/static/img/bild1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#profiles .name_tag{
    background-color: #fff;
    border: 4px solid rgba(102, 185, 191, 1);
    height: 120px;
    width: 120px;
    line-height: 120px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
#profiles .name_tag h2{
    margin: 0px;
}

#profiles .top h4{
    padding-top: 20px;
}

.main_education_info{
    background-color: #EEEAE8;
    text-align: center;
    padding: 20px 0px;
    clear: both;
}

.main_education_info .education_info{
    margin: 30px 0px;
}

.main_education_info .icon{
    background-color: black;
    height: 80px;
    width: 80px;
    margin: 0px auto;
    border: 4px solid #E87E04;
    margin-bottom: 5px;
}

.main_education_info p{
    margin: 0px 15px;

}

#profiles .key_tags{
    clear: both;
    text-align: center;
}

#profiles .key_tags ul{
    margin: 10px;
}

#profiles .key_tags li{
    background-color: #E87E04;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
}

.contact{
	background-color: #fff;
    padding: 30px 0px;
}

.contact > div{
    display: -webkit-flex;
    display: flex;
}

.contact_info{
    width: 50%;
    text-align: center;
    color: #BFBFBF;
}

.contact_info .icon{
	height: 50px;
	width: 50px;
	background-color: black;
	border: 4px solid rgba(102, 185, 191, 0.9);
    margin: 0 auto;
    margin-bottom: 10px;
}

.line{
    width: 2px;
    background-color: #BFBFBF;
    height: 100px;
}


.pre_missions{
    background-color: #EEEAE8;
    padding: 40px 0px;
}

.pre_missions li{
	background-color: rgba(102, 185, 191, 1);
    text-align: center;
    color: #fff;
    padding: 20px 0px;
    margin: 10px;
}
.pre_missions h3, .pre_missions h4{
    margin: 0px;
    padding: 0px;
}

.pre_missions h2{
    margin-bottom: 30px;
    text-align: center;
}

.pre_missions .img{
    background-color: black;
    border: 4px solid #fff;
    height: 120px;
    width: 120px;
    margin: 0 auto;
}

.pre_missions a{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    padding: 10px 0px;
    border: 4px solid #fff;
    margin-top: 15px;
}

.pre_missions a:hover{
    background-color: #E87E04;
    transition: background-color 0.7s ease;
}




/* --- Student profile.tpl || END --- */


/* --- Adsform.tpl --- */
/*#create_ad = formuläret*/
#create_ad{
    background-color: #ddd;
    text-align: center;
    padding-bottom: 10px;
    color: #E87E04;
}
/*ca = Create Ad*/
#ca_Title{
    margin-bottom: -10px;
    background-color: #999;
    padding: 2%;
    color: #000;
}
.ca_Formblock{
    width: 30%;
    display: inline-block;
    padding: 10px;
}
#ca_Labels{
    text-align: right;
    margin-left:-10%;
}
#ca_Labels label{
    display: block;
    margin: 65px auto
}
#ca_Inputs{
    width: 40%;
}
#ca_Inputs input{
    background: #FFF9F6;
    color: #000;
    height: 30px;
    width: 100%;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}
#ad_done{
    display: block;
    margin: 25px auto;
    transform: scale(1.2);
}
@media screen and (min-width:900px){
    #ca_Labels{
        margin-left: -20%;
    }
    #ca_Labels label{
        margin: 50px auto;
    }
}
/* --- Adsform.tpl || END --- */


@media screen and (max-width:960px){

    .menu a {
        font-size: 80%;
    }

    #wrapContent {
    width: 667px;
    margin: auto;
    }

    #logIn {
        width: 60%;
    }

    .contentInContent {
        width: 231px;
        padding: 50px;
    }

    .roundBox {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        line-height: 200px;
    }

    .roundBox h2 {
        margin: 0;
    }
    
    .content2 {
        padding: 0px;
    }

}
/* ----- Välj Typ av användare ------ */
#content{
    text-align: center;
}
.choicereg{
    text-align: center;
    padding: 7%;
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    border-radius: 10px;
    font-size: 120%;
}
.choicereg:hover{
    box-shadow: 0px 0px 20px 2px #777;
}
#employreg{
    background: #59ABE3;
}
#studentreg{
    background: #E87E04;
}

@media screen and (min-width:900px){
    #content{
        margin-top: 0px;
        padding-top: 70px;
    }
    .choicereg{
        text-align: center;
        padding: 3%;
        display: inline-block;
        width: 20%;
        margin: 10px;
        color: #fff;
        border-radius: 10px;
        font-size: 130%;
    }
}
/* --- ARBETSGIVARREGISTRERING --- */

#create_employer{
    width: 100%;
    text-align: center;
    margin-top: -80px;
}
#employerform_Title{
    background: #59ABE3;

}
#create_employer input, select{
    background: #FFF9F6;
    color: #000;
    height: 30px;
    width: 75%;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}
@media screen and (min-width:900px){
    #create_employer{

    }
    #employerform_Title{
        padding: 2% 0%;
        border-bottom-style: solid;
        border-color: #000;
        border-width: thick;
    }
}
/* --- STUDENTREGISTRERING --- */
.form_head{
    text-align: center;
    padding: 5% 0%;
}
#content{
    padding-bottom: 10%;
    background-color: #ddd;
}
#create_student{
    width: 100%;
    text-align: center;
}
#studentform_Title{
    Background-color: #E87E04;
    border-bottom-style: solid;
    border-width: thick;
}
label{
    display: inline-block;
    left: 1%;
}
#create_student input, select{
    background: #FFF9F6;
    color: #000;
    height: 30px;
    width: 75%;
    font-size: 15px;
    background: white;
    text-align: center;
    border-radius: 8px;
}
.form_labels{
    display: inline-block;
    width: 49.3%;
    text-align: center;
}
.form_inputs{
    display: inline-block;
    width: 49.3%;
    text-align: center;
}
.form_inputs select,input{
    margin: 17px auto;
    max-width: 300px;
}
@media screen and (min-width: 900px){
    #create_student{
        margin-top: -80px;
        text-align: center;
    }
    #studentform_Title{
        padding: 2% 0%;
    }
    .form_labels{
        display: inline-block;
        width: 10%;
        text-align: right;
    }
    .form_inputs{
        display: inline-block;
        width: 40%;
        text-align: center;
    }
    .create_account{
        width: 50%;
        display: block;
    }
}
/* STUDENTENS PROFIL: */

.contentProfile {
    background-image: url(../img/pictureIAtest.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: auto;
}

#profileName {
    border: 5px solid black;
    line-height: 200px;
    margin-left: 0;
}

.profileDescription {
    background: #fff;
    width: 380px;
    height: 130px;
    display: inline-block;
    margin-left: 75px;
    margin-top: 20px;
    padding: 10px 10px;
    border: 5px solid black;
}

.centerProfileInfo {
    margin: 145px auto;
    width: 700px;
}

.content2_Profile {
    background-color: black;
    border-top: 5px solid darkgray;
    border-bottom: 5px solid darkgray;
    height: 350px;
}

.roundBox_Profile {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    line-height: 200px;
    text-align: center;
    margin-left: 75px;
    vertical-align: top;
}

.center_roundBox_Profile {
    width: 900px;
    margin: 0 auto;
    padding: 70px 20px 70px 20px;
}

.studentInformation {
    background-color: rgba(102, 185, 191, 0.9);
}

@media screen and (max-width:600px){
    
   /* För inloggningssidan: */
    .wrapperLogin {
        height: 500px;
    }
    
    #logIn {
        width: 90%;
        margin: 85px auto;
    }
    
    header nav{
        display: block;
        margin: 20px auto;
        float: none;
        width: 100%;
        display: flex;
        display: none;
    }
    
   header nav a{
        float: none;
        margin: 0px auto;
        display: inline-flex;
        width: 20%;
        text-align: center;
    }
    
    header h1{
        text-align: center;
        display: block;
        float: none;
        margin: 20px auto;
        width: 100%;
    }
    
    #logIn input{
        margin: 15px auto;
    }
    
    #wrapContent {
        background: #9B938E;
        width: 100%;
        padding: 0;
    }

    .contentInContent {
        width: 49.5%;
        margin: 0;
        padding: 0;
    }
    
    .contentInContent p {
        padding: 5% 2%;
        background: /*#C4BEBB*/#C0B4AD;
        color: black;
    }
    
    .roundBox {
        width: 100%;
        height: 100px;
        border-radius: 0px;
        line-height: 100px;
        margin: 0;
        padding: 0;
    }
    
     /* För startsidan för studenter: */
    
    .wrap {
        width: 100%;
    }
    
    .tabContent {
        padding: 5px 0;
    }
    
    .courtesyNav {
        display: none;
    }
    
    ul#tabs {
        list-style-type: none;
        margin: 5px auto;
        padding: 0 0 0.6em 0;
        width: 100%;
    }
    
    ul#tabs li a {
        padding: 0.3em 0.7em;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }
    
    ul#tabs li a.selected {
        padding: 0.5em 0.9em;
    }   
}

@media screen and (min-width:960px){
    #admin_start_employer{
        display: block;
        height: 400px;
        max-width: 1200px;
        margin: 0 auto;
    }

    #employer_how_it_works{
        display: block;
        border-bottom: none;
        background-color: #EEEAE8;
        padding: 0px;
    }

    #toggle_how_it_works{
        display: none;
    }

    .col{
        width: 30%;
        float: left;
        height: 100%;
        margin: 40px 0px;
        padding: 0px;
        border-bottom: 2px solid #EEEAE8;
    }

    .employers_add_new_ad{
        float: right;
    }

    #employer_how_it_works h2, #employer_how_it_works div{
        margin: 50px;
    }

    .employers_add_new_ad{
        background-color: #EEEAE8;
        display: table;
    }

    .employers_add_new_ad > div{
        position: relative;
        vertical-align:middle;
        display: table-cell;
    }

    .emloyers_all_adds{
        margin-left: 5%;
        display: block;
        border-bottom: 2px solid #3E4244;
    }
    .emloyers_all_adds > div{
        height: 320px;
        overflow: auto;;
    }
    /* Studentprofil*/
    #profiles .top{
        height: 450px;
    }


    #profiles .top .name_tag{
        top:80px;
    }

    #profiles .top h4{
        padding-top: 80px;
        margin-bottom: 10px;
    }
    #profiles .top h3{
        margin-top: 10px;
    }

    .main_education_info .container{
        display: -webkit-flex;
        display: flex;
        padding: 20px 0px;
    }

    .main_education_info .education_info{
        width: 33%;
        margin: 20px 30px;
    }

    .key_tags{
        padding: 40px 0px 60px 0px;
    }

    .pre_missions ul{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap:wrap;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1300px;
    }

    .pre_missions li{
        width: 30%;
        margin: 10px auto;
    }

    /* Studentprofi - slutl*/



    footer{
        clear: both;
    }

}
